In [9]:
import pandas as pd
import json

In [2]:
df = pd.read_csv("week.csv")

In [3]:
location_list = [string[0] for string in df['Location'].str.split()]

In [4]:
len(location_list)

8768

In [5]:
location_set = set(location_list)

In [6]:
len(location_set)

47

In [7]:
print(location_set)

{'MTHW', 'GRIS', 'STON', 'HEAV', 'FRNY', 'KNOY', 'PAO', 'CL50', 'STEW', 'LYNN', 'BHEE', 'RAWL', 'HAAS', 'MSEE', 'LAMB', 'AR', 'PRCE', 'UC', 'HORT', 'MJIS', 'NLSN', 'ABE', 'HAMP', 'MATH', 'PHYS', 'SCHM', 'LILY', 'SMTH', 'HIKS', 'ARMS', 'WALC', 'LYLE', 'KRAN', 'CRTN', 'FORS', 'WTHR', 'SC', 'ME', 'LWSN', 'BRNG', 'UNIV', 'PSYC', 'RHPH', 'VPTH', 'BRWN', 'BCHM', 'NISW'}

In [10]:
with open("build_address.json") as json_data:
    build_dict = json.load(json_data)

In [11]:
build_set = set(build_dict.keys())

In [12]:
location_set - build_set

{'CRTN', 'FORS', 'HAAS', 'HIKS', 'HORT', 'LYNN', 'MTHW', 'NLSN', 'STEW', 'UC'}

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("combined_address.csv")

In [3]:
df.head()

  Building                  Address                                Combined
0     LILY      915 W. State Street   40.42366383320516, -86.91800720160523
1     HAMP   550 Stadium Mall Drive   40.43039677265733, -86.91476679578477
2     RHPH   575 Stadium Mall Drive  40.429988082756594, -86.91593308811288
3      ABE  225 S University Street   40.42184583828238, -86.91660228811303
4     BCHM  175 S University Street   40.42293206462245, -86.91632183044118

In [5]:
df.drop(["Address"], axis=1, inplace=True)

In [7]:
df.head()

  Building                                Combined  lat
0     LILY   40.42366383320516, -86.91800720160523  NaN
1     HAMP   40.43039677265733, -86.91476679578477  NaN
2     RHPH  40.429988082756594, -86.91593308811288  NaN
3      ABE   40.42184583828238, -86.91660228811303  NaN
4     BCHM   40.42293206462245, -86.91632183044118  NaN

In [9]:
for i in range(len(df)):
    df.at[i, 'lat'] = df.at[i, 'Combined'].split(', ')[0]
    df.at[i, 'long'] = df.at[i, 'Combined'].split(', ')[1]

In [11]:
df.drop(["Combined"], axis=1, inplace=True)

In [12]:
df.head()

  Building                 lat                long
0     LILY   40.42366383320516  -86.91800720160523
1     HAMP   40.43039677265733  -86.91476679578477
2     RHPH  40.429988082756594  -86.91593308811288
3      ABE   40.42184583828238  -86.91660228811303
4     BCHM   40.42293206462245  -86.91632183044118

In [14]:
json = df.set_index('Building')

In [17]:
json.to_json('coordinates.json', orient='index')