In [1]:
import requests

In [77]:
import pandas as pd

In [97]:
response = requests.get("https://api.purdue.io/odata/Terms?$select=Name&$filter=Name eq 'Spring 2023'&$expand=Classes($select=Campus;$expand=Course($expand=Subject($select=Abbreviation);$select=Number),Sections($select=Type;$expand=Meetings($select=Type;$expand=Instructors($select=Name))))")

In [98]:
data = response.json()

In [99]:
data.keys()

dict_keys(['@odata.context', 'value'])

In [100]:
classlist = data['value'][0]['Classes']

In [106]:
classlist[7]['Course']['Number']

'26100'

In [76]:
classlist[7]['Sections'][10]['Meetings'][0]['Instructors'][0]['Name']

'Kuan-Hua J. Chen'

In [115]:
df = pd.DataFrame(columns=["Subject", "Number", "Instructor"])

In [116]:
i = 0
for cla in classlist:
    # print(i)
    abbrev = cla['Course']['Subject']['Abbreviation']
    number = cla['Course']['Number']
    for section in cla['Sections']:
        for meeting in section['Meetings']:
            if meeting['Type'] == 'Lecture':
                for instructor in meeting['Instructors']:
                    instruct_name = instructor['Name']
                    df.loc[len(df)] = [abbrev, number, instruct_name]
    # i += 1

In [124]:
df.sort_values(["Subject", "Number"], inplace=True)

In [125]:
df.head()

     Subject Number            Instructor
1133     AAE  20300         Hashim Hassan
5180     AAE  20300  Thomas F. Cunningham
1344     AAE  20400         Dianyun Zhang
4948     AAE  20400         Hashim Hassan
2803     AAE  20400      Danilo C. Branco

In [126]:
df.to_csv("classes.csv", index=False, header=False)