In [2]:
import requests

In [3]:
import pandas as pd

In [4]:
response = requests.get("https://api.purdue.io/odata/Terms?$select=Name&$filter=Name eq 'Spring 2023'&$expand=Classes($select=Campus;$expand=Course($expand=Subject($select=Abbreviation);$select=Number),Sections($select=Type;$expand=Meetings($select=Type;$expand=Instructors($select=Name))))")

In [5]:
data = response.json()

In [6]:
data.keys()

dict_keys(['@odata.context', 'value'])

In [7]:
classlist = data['value'][0]['Classes']

In [15]:
df = pd.DataFrame(columns=["name", "professor"])

In [16]:
classlist[0]['Course']['Number']

'25200'

In [17]:
i = 0
for cla in classlist:
    # print(i)
    abbrev = cla['Course']['Subject']['Abbreviation']
    number = cla['Course']['Number']
    for section in cla['Sections']:
        for meeting in section['Meetings']:
            if meeting['Type'] == 'Lecture':
                for instructor in meeting['Instructors']:
                    instruct_name = instructor['Name']
                    df.loc[len(df)] = [abbrev + " " + str(number), instruct_name]
    # i += 1

In [18]:
df.sort_values("name", inplace=True)

In [19]:
df.head()

           name             professor
5175  AAE 20300  Thomas F. Cunningham
1140  AAE 20300         Hashim Hassan
2161  AAE 20400      Danilo C. Branco
2798  AAE 20400      Danilo C. Branco
1351  AAE 20400         Dianyun Zhang

In [20]:
df.to_csv("classes.csv", index=False, header=False)